@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gilroy-Bold';
  font-weight: 400;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 975px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 34px;
  line-height: 124%;
  text-align: center;
  color: #070707;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 28px;
  }
}

body._lock {
  overflow: hidden;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .header {
    position: absolute;
  }
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    background-color: #fff;
  }
}

.header__container {
  min-height: 88px;
}

@media (min-width: 768px) {
  .header__menu {
    position: relative;
  }
  .header__menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #828282;
  }
}

@media (max-width: 767.98px) {
  .menu {
    min-height: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu__icon {
  display: none;
}

.menu__body {
  position: relative;
}

.menu__link {
  color: #828282;
  font-size: 18px;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.menu__link:hover {
  color: #000;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 88px;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 33px;
    height: 19px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    background-color: #000;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    padding: 36px 26px 26px 36px;
    -webkit-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    margin: 0 0 68px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 34px;
  }
}

.home {
  padding-top: 88px;
  padding-bottom: 104px;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__content {
  padding: 39px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .home__content {
    padding: 35px 0 28px;
  }
}

@media (max-width: 767.98px) {
  .home__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.home__title {
  position: relative;
  font-size: 47px;
  line-height: calc(59 / 37 * 100%);
  color: #070707;
}

@media (max-width: 767.98px) {
  .home__title {
    position: absolute;
    width: 124px;
    height: 106px;
    top: 5px;
    left: 15px;
  }
}

.home__about {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  color: #070707;
}

@media (max-width: 767.98px) {
  .home__about {
    margin-top: 50px;
  }
}

.home__buttons {
  -webkit-transform: rotate(-90deg) translate(0px, 100%);
          transform: rotate(-90deg) translate(0px, 100%);
}

.home__buttons span {
  color: #070707;
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
}

@media (max-width: 767.98px) {
  .home__buttons {
    display: none;
  }
}

.home__image img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .home__image img.pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .home__image img.mobile {
    display: none;
  }
}

.ru, .eng {
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
  color: #828282;
  background-color: #fff;
  -webkit-transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ru:hover, .eng:hover {
  color: #070707;
}

.menu__buttons {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  position: absolute;
  width: 144px;
  height: 30px;
  bottom: 0px;
  right: 0;
}

.menu__buttons span {
  color: #070707;
  font-size: 34px;
  line-height: calc(42 / 34 * 100%);
}

.menu__buttons .ru, .menu__buttons .eng {
  font-size: 34px;
  line-height: calc(42 / 34 * 100%);
}

@media (min-width: 768px) {
  .menu__buttons {
    display: none;
  }
}

.about-me {
  background-color: #F6F6F6;
  padding-top: 120px;
  padding-bottom: 107px;
}

@media (max-width: 991.98px) {
  .about-me {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .about-me {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

.about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about-me__title:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .about-me__title:not(:last-child) {
    margin-bottom: 18px;
  }
}

.about-me__text p {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  text-align: center;
  color: #070707;
}

@media (max-width: 767.98px) {
  .about-me__text p {
    font-size: 15px;
  }
}

.about-me__text p:not(:last-child) {
  padding-bottom: 32px;
}

@media (max-width: 767.98px) {
  .about-me__text p:not(:last-child) {
    padding-bottom: 25px;
  }
}

.skills {
  padding-top: 91px;
  padding-bottom: 110px;
}

@media (max-width: 991.98px) {
  .skills {
    padding-top: 83px;
    padding-bottom: 95px;
  }
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__title:not(:last-child) {
  margin-bottom: 69px;
}

@media (max-width: 767.98px) {
  .skills__title:not(:last-child) {
    margin-bottom: 50px;
  }
}

.skills__subtitle {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  text-align: center;
  color: #070707;
}

.skills__subtitle:not(:last-child) {
  padding-bottom: 83px;
}

@media (max-width: 767.98px) {
  .skills__subtitle:not(:last-child) {
    padding-bottom: 70px;
  }
}

.skills__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .skills__columns {
    row-gap: 80px;
  }
}

.skills__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 991.98px) {
  .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 600.98px) {
  .skills__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.item-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-skills__image {
  text-align: center;
  margin-bottom: 24px;
}

.item-skills__image img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .item-skills__image {
    margin-bottom: 20px;
  }
}

.item-skills__text {
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  text-align: center;
  color: #828282;
  margin-bottom: 41px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .item-skills__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .item-skills__text {
    margin-bottom: 27px;
  }
}

.item-skills__rate {
  text-align: center;
}

.item-skills__rate img:not(:last-child) {
  padding-right: 9px;
}

.portfolio {
  background-color: #F6F6F6;
  padding-top: 112px;
  padding-bottom: 96px;
}

@media (max-width: 991.98px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 90px;
  }
}

@media (max-width: 767.98px) {
  .portfolio {
    padding-top: 81px;
    padding-bottom: 80px;
  }
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 100px;
}

@media (max-width: 991.98px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 87px;
  }
}

@media (max-width: 767.98px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 77px;
  }
}

.item-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.item-portfolio__image {
  margin-bottom: 44px;
}

.item-portfolio__image img {
  max-width: 100%;
}

.item-portfolio__text {
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  text-align: center;
  color: #070707;
}

.item-portfolio__text:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 767.98px) {
  .item-portfolio__text {
    font-size: 16px;
  }
}

.contacts {
  padding-top: 114px;
  padding-bottom: 20px;
}

@media (max-width: 991.98px) {
  .contacts {
    padding-top: 100px;
  }
}

@media (max-width: 767.98px) {
  .contacts {
    padding-top: 82px;
  }
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  margin-bottom: 29px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  text-align: center;
  color: #070707;
}

.contacts__button {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #070707;
  border: 2px solid #000;
  border-radius: 40px;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  color: #FFFFFF;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 85px;
}

.contacts__button:hover {
  background-color: #fff;
  color: #070707;
}

@media (max-width: 767.98px) {
  .contacts__button {
    margin-bottom: 48px;
  }
}

@media (max-width: 479.98px) {
  .contacts__button {
    min-width: 100%;
  }
}

.contacts__social img {
  max-width: 100%;
}

.contacts__image:not(:last-child) {
  margin-right: 60px;
}

@media (max-width: 479.98px) {
  .contacts__image:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 360.98px) {
  .contacts__image:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  padding-top: 24px;
  padding-bottom: 124px;
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 90px;
  }
}

.footer__container {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  text-align: center;
  color: #828282;
}
